{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "heading.html" %}
    <div class="flex_row_middle_up">
        <div class="contentVerticallyCenter">
            <div class="flex_column">
                <div>Create a delivery</div>
                <form class="registerForm" method="post" action="../deliveryAdd/" >{% csrf_token %}
                    <div class="contentVerticallyCenter">
                        <span class="label">Delivery date:</span> <input class="textField" id="deliveryDate" name="deliveryDate" type="text" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label">Last name:</span> <input class="textField" name="lastname" type="text" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label">First name:</span> <input class="textField" name="firstname" type="text" oninput="clearMessage()"><br>
                    </div>
                    <br>
                    <input class="button" type="submit" value="Create">
                </form>
                <div id="calendar" class="calendar"></div>
                <div class="err_msg">
                    <span id="message">{{ errMsg }}</span>
                </div>
                <a href="../deliveryList">View delivery list</a>
            </div>    
        </div>
        <div class="separator">
        </div>

    </div>    

    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }


      const options = {
        type: "default", // Other values: "multiple",
        months: 1,
        jumpMonths: 1,
        settings: {
          selection: {
            day: "single",  // Other values: "multiple-ranged"
          },
          iso8601: false, //Make Sunday as first day of the week
        },
        actions: {
          clickDay(event, self) {
            // console.log(self.selectedDates);
            selectedDate = self.selectedDates[0];
            document.getElementById("deliveryDate").value = self.selectedDates[0]
            // console.log("startDate: ", startDate);
            // console.log("endDate: ", endDate);
          },
        },
      };

      function initCalendar() {
        const calendar = new VanillaCalendar("#calendar", options);
        calendar.init();
      }


    </script>     

    <link
      href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js"
      async
      defer
      onload="initCalendar()"
    ></script>
</body>
</html>







