{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "heading.html" %}
    <div id="cal_div" class="calendar">
        <div id="calendar"></div>
    </div>
    <div class="flex_row_middle_up">
        <div class="contentVerticallyCenter">
            <div class="flex_column">
                <div>Create a delivery</div>
                <form class="registerForm" method="post" action="../deliveryAdd/" >{% csrf_token %}
                    <div class="contentVerticallyCenter">
                        <span class="label_long">Delivery date:</span> 
                        <input class="textField" id="deliveryDate" name="deliveryDate" type="text" 
                            oninput="set_cal()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label_long">Last name:</span> <input class="textField" id="lastname" name="lastname" type="text" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label_long">First name:</span> <input class="textField" id="firstname" name="firstname" type="text" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label_long">Date of Birth:</span> <input class="textField" id="dateOfBirth" name="dateOfBirth" type="text" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label_long">Self pickup:</span> 
                        <div class="radio_group">
                            <div>
                                <input type="radio" name="selfPickup" id="None" value="Yes" checked />
                                <label for="Yes">Yes</label>
                            </div>                        
                            <div>
                                <input type="radio" name="selfPickup" id="None" value="No" />
                                <label for="No">No</label>
                            </div>                        
                        </div>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label_long">Delivery address:</span> <input class="textField" name="address" type="text" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label_long">Repeat frequency:</span> 
                        <div class="radio_group">
                            <div>
                                <input type="radio" name="repeatFreq" id="None" value="None" checked />
                                <label for="None">None</label>
                            </div>
                            <div>
                                <input type="radio" name="repeatFreq" id="None" value="Monthly" />
                                <label for="Monthly">Monthly</label>
                            </div>
                            <div>
                                <input type="radio" name="repeatFreq" id="None" value="Bi-Monthly" />
                                <label for="Bi-Monthly">Bi-Monthly</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <input class="button" type="submit" value="Create">
                </form>
                <div class="err_msg">
                    <span id="message">{{ errMsg }}</span>
                </div>
                <a href="../deliveryList">View delivery list</a>
            </div>    
        </div>
        <div class="separator">
        </div>

    </div>    

    <script>

        activeDateObj = null

        function show_cal(event) {
            const inputField = event.target; // Get the clicked input field
            activeDateObj = event.target

            // Get the position and size of the input field
            const rect = inputField.getBoundingClientRect();
            
            // Find the tooltip div
            const tooltip = document.getElementById('cal_div');
            
            // Position the tooltip to the right of the input field
            tooltip.style.left = `${rect.right + 20}px`; // Add 5px gap
            tooltip.style.top = `${rect.top}px`;
            tooltip.style.display = 'block'; // Make the tooltip visible
            tooltip.style.visibility = 'visible';
        }

        function set_cal() {
            deliveryDate = document.getElementById('deliveryDate').value
            console.log("deliveryDate is ", deliveryDate)
            regex = /\d\d\/\d\d\/\d{4}/
            if(regex.test(deliveryDate)) {
                console.log("regex test ok")

                mm = deliveryDate.substring(0,2)
                dd = deliveryDate.substring(4,6)
                yyyy = deliveryDate.substring(8,10)
                // inputDate = yyyy + "-" + mm + "-" + dd
                inputDate = new Date(yyyy, mm-1, dd)
                calendar.settings.date = inputDate
                calendar.update()

                // const options = {
                //     type: "default", // Other values: "multiple",
                //     months: 1,
                //     jumpMonths: 1,
                //     settings: {
                //         selection: {
                //             day: "single",  // Other values: "multiple-ranged"
                //         },
                //         iso8601: false, //Make Sunday as first day of the week
                //     },
                //     actions: {
                //         clickDay(event, self) {
                //             // console.log(self.selectedDates);
                //             selectedDate = self.selectedDates[0];
                //             // document.getElementById("deliveryDate").value = self.selectedDates[0]
                //             if(activeDateObj) {
                //                 aDate = self.selectedDates[0]
                //                 formatedDate = `${aDate.substring(5, 7)}/${aDate.substring(8, 10)}/${aDate.substring(0, 4)}`
                //                 activeDateObj.value = formatedDate
                //             }
                //             // console.log("startDate: ", startDate);
                //             // console.log("endDate: ", endDate);
                //         },
                //     },
                //     enableJumpToSelectedDate: true,
                //     selectedDates: [inputDate],
                // };    
                // const calendar = new VanillaCalendar("#calendar", options);
                // calendar.init();            
            }
        }

        document.getElementById('deliveryDate').addEventListener('focus', show_cal);
        document.getElementById('dateOfBirth').addEventListener('focus', show_cal);

        function hide_cal(event) {
            const tooltip = document.getElementById('cal_div');
            tooltip.style.visibility = 'hidden';
        }

        document.getElementById('lastname').addEventListener('focus', hide_cal );
        document.getElementById('firstname').addEventListener('focus', hide_cal );

        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }


      const options = {
        type: "default", // Other values: "multiple",
        months: 1,
        jumpMonths: 1,
        dateMin: '1910-01-01',        
        settings: {
          selection: {
            day: "single",  // Other values: "multiple-ranged"
          },
          iso8601: false, //Make Sunday as first day of the week
          visibility: {        
            todayButton: true, // Adds a "Today" button      
          },
          range: {        
            min: '1910-01-01', // Minimum selectable date (format: YYYY-MM-DD)      
          },
        },
        actions: {
          clickDay(event, self) {
            // console.log(self.selectedDates);
            selectedDate = self.selectedDates[0];
            // document.getElementById("deliveryDate").value = self.selectedDates[0]
            if(activeDateObj) {
                aDate = self.selectedDates[0]
                formatedDate = `${aDate.substring(5, 7)}/${aDate.substring(8, 10)}/${aDate.substring(0, 4)}`
                activeDateObj.value = formatedDate
            }
            // console.log("startDate: ", startDate);
            // console.log("endDate: ", endDate);
          },
        },
      };

      function initCalendar() {
        calendar = new VanillaCalendar("#calendar", options);
        calendar.init();
        calendar.justToSelectedDate = true;
        calendar.date.min = '1910-01-01';
        calendar.settings.range.min = '1910-01-01';
        calendar.selectedDates = ['1999-01-01'];
        calendar.update();
        console.log(calendar)
      }

    </script>     

    <link
      href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js"
      async
      defer
      onload="initCalendar()"
    ></script>
</body>
</html>







