{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "heading.html" %}
    <div class="flex_row_middle_up">
        <div class="contentVerticallyCenter">
            <div class="flex_column">
                <div>Create a delivery</div>
                <form class="registerForm" method="post" action="../deliveryAdd/" >{% csrf_token %}
                    <div class="contentVerticallyCenter">
                        <span class="label">Last name:</span> <input class="textField" name="lastname" type="text" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label">First name:</span> <input class="textField" name="firstname" type="text" oninput="clearMessage()"><br>
                    </div>
                    <br>
                    <input class="button" type="submit" value="Create">
                </form>
                <div class="err_msg">
                    <span id="message">{{ errMsg }}</span>
                </div>
                <a href="../deliveryList">View delivery list</a>
            </div>    
        </div>
        <div class="separator">
        </div>

    </div>    

    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }
    </script>     
</body>
</html>







