{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    {% include "heading.html" %}
    <div id="cal_div" class="calendar">
        <div id="calendar"></div>
    </div>

    <div class="flex_column">
        <div id="filter">
            <span class="label_long">Delivery date:</span> 
            <input class="textField" id="deliveryDate" name="deliveryDate" type="text" 
                oninput="set_cal(event)">
        </div>
        <div class="delivery_list" id="deliveryList">

        </div>    

        <a href="../deliveryForm">Create a delivery</a>
    </div>
    
    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }

        draggedElement = null
        function dragstartHandler(event) {
            // event.target is the element being dragged
            event.dataTransfer.setData('text/plain', event.target.seq);
            draggedElement = event.target
        }

        function handleDrop(event) {
            event.preventDefault(); // Prevents default behavior (e.g., opening a dropped file)
            // Handle the drop event here (e.g., get data from the dragged element)
            // event.target is the drop target.
            // console.log('Dropped:', event.dataTransfer.getData('text/plain')); 
            console.log('element being dropped: ', event.dataTransfer.getData('text/plain'))
            console.log('dropped on: ', event.target.seq)
            updateSeq(event.dataTransfer.getData('text/plain'), parseFloat(event.target.seq))
            draggedElement.seq = parseFloat(event.target.seq)
            reDisplay()
        }

        function updateSeq(fromSeq, toSeq) {
            const django_server = "https://www.roboosoft.com/"

            const csrfToken = document.querySelector('meta[name="csrf-token"]').content

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json',
                           'X-CSRFToken': csrfToken  
                         },
                body: JSON.stringify({ 'fromSeq': fromSeq.toString(), 
                                       'toSeq': toSeq.toString(),
                                     })
            }
            console.log("Before fetch ")
            fetch(django_server + "account/deliverySeqUpdate/", requestOptions)
            .then((response) => {
                    console.log("Before response.json() ", response)
                    return response.json()
                })
            .then((data) => {
                                //data.id
                                console.log("Before Msg ", data)
                                console.log("Msg: ", data.Msg)
                            })
        }

        function dragOverHandler(event) {
            event.preventDefault();
            event.target.style.backgroundColor = "red"
        }

        function dragLeaveHandler(event) {
            event.preventDefault();
            event.target.style.backgroundColor = "white"
        }

        function reDisplay() {
            deliveryList = document.getElementById("deliveryList")
            const items = Array.from(deliveryList.querySelectorAll(".delivery_box"))
            items_sorted = items.sort((a, b) => {
                return parseFloat(a.seq) - parseFloat(b.seq)
            })
            // items_sorted.forEach(item => deliveryList.appendChild(item));
            // deliveryList.replaceChildren(...items_sorted)
            currentSeq = 0.0 //initially this is set to zero
            temp_deliveryList = []
            for(const element of items_sorted) {
                dropTarget = document.createElement("div")
                dropTarget.className = "dropTarget"
                dropTarget.addEventListener('drop', handleDrop);
                dropTarget.addEventListener('dragover', dragOverHandler);
                dropTarget.addEventListener('dragleave', dragLeaveHandler);
                dropTarget.seq = (currentSeq + parseFloat(element.seq))/2.0
                temp_deliveryList.push(dropTarget)
                currentSeq = parseFloat(element.seq)

                temp_deliveryList.push(element)
            }
            dropTarget = document.createElement("div")
            dropTarget.className = "dropTarget"
            dropTarget.addEventListener('drop', handleDrop);
            dropTarget.addEventListener('dragover', dragOverHandler);
            dropTarget.addEventListener('dragleave', dragLeaveHandler);
            dropTarget.seq = currentSeq + 0.01
            temp_deliveryList.push(dropTarget)

            deliveryList.replaceChildren(...temp_deliveryList)
        }

        itemSummary = {}
        async function fill() {
            itemSummary = {}
            const delivery_json = JSON.parse('{{ delivery_json|escapejs }}')            
            delivery_sorted = delivery_json.sort((a, b) => {
                return parseFloat(a.seq) - parseFloat(b.seq)
            })

            deliveryList = document.getElementById("deliveryList")

            currentSeq = 0.0 //initially this is set to zero
            for(const element of delivery_sorted) {
                if(shouldShow(element)) {
                    dropTarget = document.createElement("div")
                    dropTarget.className = "dropTarget"
                    dropTarget.addEventListener('drop', handleDrop);
                    dropTarget.addEventListener('dragover', dragOverHandler);
                    dropTarget.addEventListener('dragleave', dragLeaveHandler);
                    dropTarget.seq = (currentSeq + parseFloat(element.seq))/2.0
                    deliveryList.appendChild(dropTarget)
                    currentSeq = parseFloat(element.seq)

                    deliveryDateDiv = document.createElement("div")
                    deliveryDateDiv.className = "deliveryDateDiv"
                    deliveryDateDiv.innerText = element.id + " (" + element.seq + ") " + element.deliveryDate

                    nameDiv = document.createElement("div")
                    nameDiv.className = "nameDiv"
                    nameDiv.innerText = element.lastName + ", " + element.firstName

                    addressDiv = document.createElement("div")
                    addressDiv.className = "deliveryDateDiv"
                    addressDiv.innerText = element.address

                    eligibleDiv = document.createElement("div")
                    eligibleDiv.className = "deliveryDateDiv"
                    if(element.eligible == "P")
                        eligibleDiv.innerText = "Eligibility: " + "Pending"
                    else if(element.eligible == "Y")
                        eligibleDiv.innerText = "Eligibility: " + "Yes"
                    else if(element.eligible == "N")
                        eligibleDiv.innerText = "Eligibility: " + "No"


                    child = document.createElement("div")
                    child.className = "delivery_box"
                    child.id = element.id
                    child.seq = element.seq
                    child.setAttribute("draggable", "true")
                    child.addEventListener("dragstart", dragstartHandler)

                    dot = document.createElement("div")
                    dot.className = "dot"
                    dot.innerText = "✷"

                    basic = document.createElement("div")
                    basic.className = "basic"
                    basic.appendChild(deliveryDateDiv)
                    basic.appendChild(dot)
                    basic.appendChild(nameDiv)
                    basic.appendChild(dot.cloneNode(true))
                    basic.appendChild(addressDiv)
                    basic.appendChild(dot.cloneNode(true))
                    basic.appendChild(eligibleDiv)

                    child.appendChild(basic)

                    // console.log("element.itemList: ", element.itemList)

                    itemList = document.createElement("div")
                    itemList.className = "basic"
                    for(const item of element.itemList) {
                        itemDiv = document.createElement("div")
                        itemDiv.className = "itemDiv"
                        itemDiv.innerText = item.itemCode + " x " + item.box + " box " + item.bag + " bag"
                        itemList.appendChild(itemDiv)

                        if(!(item.itemCode in itemSummary)) {
                            itemSummary[item.itemCode] = [0, 0]
                        }
                        itemSummary[item.itemCode][0] += item.box
                        itemSummary[item.itemCode][1] += item.bag

                    }
                    child.appendChild(itemList)

                    deliveryList.appendChild(child)
                }
            }
            dropTarget = document.createElement("div")
            dropTarget.className = "dropTarget"
            dropTarget.addEventListener('drop', handleDrop);
            dropTarget.addEventListener('dragover', dragOverHandler);
            dropTarget.addEventListener('dragleave', dragLeaveHandler);
            dropTarget.seq = currentSeq + 0.01
            deliveryList.appendChild(dropTarget)

            //Add a summary
            itemDict = await getItemCode()
            console.log("itemDict 2 is: ", itemDict)
            console.log("itemDict['3036'] 2 is: ", itemDict["3036"])
            console.log("itemSummary: ", itemSummary)
            summaryRow = document.createElement("div")
            summaryRow.innerText = "Summary:"
            deliveryList.appendChild(summaryRow)
            for(const key in itemSummary) {
                value = itemSummary[key]
                bagAndPrice = itemDict[key]
                while(value[1] >= bagAndPrice[0]) {
                    value[0] += 1
                    value[1] -= bagAndPrice[0]
                }
                summaryRow = document.createElement("div")
                summaryRow.innerText = key + " x " + value[0] + " box " + value[1] + " bag"
                deliveryList.appendChild(summaryRow)
            }
        }

        function shouldShow(element) {
            result = false
            filterDeliveryDate = document.getElementById("deliveryDate").value
            if(isValidDate(filterDeliveryDate)) {
                if(element.deliveryDate == filterDeliveryDate)
                    result = true
            } else { //if date is invalid, just don't filter
                result = true
            }
            return result
        }

        async function getItemCode() {
            itemDict = {}
            const django_server = "https://www.roboosoft.com/"
            await fetch(django_server + "account/itemList/")
            .then((response) => {
                console.log("response is: ", response)
                return response.json()
            })
            .then((data) => {
                console.log("data is: ", data)
                data.forEach(element => {
                    itemDict[element.itemCode] = [element.bags, element.bagPrice]
                })
            })

            console.log("itemDict is: ", itemDict)
            return itemDict
        }

        fill()

        document.getElementById('deliveryDate').addEventListener('focus', show_cal);

        function show_cal(event) {
            set_cal(event)

            const inputField = event.target; // Get the clicked input field
            activeDateObj = event.target

            // Get the position and size of the input field
            const rect = inputField.getBoundingClientRect();
            
            // Find the tooltip div
            const tooltip = document.getElementById('cal_div');
            
            // Position the tooltip to the right of the input field
            tooltip.style.left = `${rect.right + 20}px`; // Add 5px gap
            tooltip.style.top = `${rect.top}px`;
            tooltip.style.display = 'block'; // Make the tooltip visible
            tooltip.style.visibility = 'visible';
        }


        function set_cal(event) {
            calendar.selectedDates = [];
            calendar.update()

            if(event.inputType != 'deleteContentBackward') {
                formatToDate(event)
                // deliveryDate = document.getElementById('deliveryDate').value
                theDate = event.target.value
                // console.log("theDate is ", theDate)
                regex = /\d\d\/\d\d\/\d{4}/
                if(regex.test(theDate)) {
                    console.log("regex test ok")

                    mm = theDate.substring(0,2)
                    dd = theDate.substring(3,5)
                    yyyy = theDate.substring(6,10)
                    inputDate = yyyy + "-" + mm + "-" + dd
                    console.log('inputDate is: ', inputDate)
                    // inputDate = new Date(yyyy, mm-1, dd)
                    // calendar.settings.date = inputDate

                    calendar.selectedDates = [inputDate];
                    // calendar.date.today = new Date(yyyy,mm-1,dd);
                    calendar.selectedMonth = mm-1;
                    calendar.selectedYear = yyyy;
                    calendar.update()
            
                }
            }

            if(isValidDate(event.target.value)) {
                event.target.style.backgroundColor = "white"
            } else {
                event.target.style.backgroundColor = "red"
            }

            checkDate()
        }

        function checkDate() {
            if(isValidDate(document.getElementById("deliveryDate").value)) {
                fill()
                console.log("fill is called")
            }
        }

        function isValidDate(dateString) {
            const date = new Date(Date.UTC(dateString.substring(6,10), dateString.substring(0,2)-1, dateString.substring(3,5)));
            // console.log("date is ", date)
            result = true

            // console.log("dateString.substring(0,2)", dateString.substring(0,2))
            // console.log("date.getUTCMonth+1", date.getUTCMonth()+1)
            // console.log("dateString.substring(3,5)", dateString.substring(3,5))
            // console.log("date.getUTCDate", date.getUTCDate())
            // console.log("dateString.substring(6,10)", dateString.substring(6,10))
            // console.log("date.getUTCFullYear", date.getUTCFullYear())

            if(!isNaN(date.getTime())) {
                if(dateString.substring(0,2) == date.getUTCMonth()+1 && 
                   dateString.substring(3,5) == date.getUTCDate() &&
                   dateString.substring(6,10) == date.getUTCFullYear()) {
                    result = true
                } else {
                    result = false
                }
            } else {
                result = false
            }

            return result;
        }

        function initCalendar() {
            calendar = new VanillaCalendar("#calendar", options);
            calendar.init();
            calendar.jumpToSelectedDate = true;
            calendar.date.min = '1910-01-01';
            calendar.settings.range.min = '1910-01-01';
            // calendar.selectedDates = ['1999-01-01'];
            // calendar.date.today = new Date(1998,0,1);
            // calendar.selectedMonth = 0;
            // calendar.selectedYear = 1998;
            calendar.update();
            console.log(calendar)
        }

        const options = {
            type: "default", // Other values: "multiple",
            months: 1,
            jumpMonths: 1,
            dateMin: '1910-01-01',        
            settings: {
            selection: {
                day: "single",  // Other values: "multiple-ranged"
            },
            iso8601: false, //Make Sunday as first day of the week
            visibility: {        
                todayButton: true, // Adds a "Today" button      
            },
            range: {        
                min: '1910-01-01', // Minimum selectable date (format: YYYY-MM-DD)      
            },
            },
            actions: {
                clickDay(event, self) {
                    // console.log(self.selectedDates);
                    selectedDate = self.selectedDates[0];
                    // document.getElementById("deliveryDate").value = self.selectedDates[0]
                    if(activeDateObj) {
                        aDate = self.selectedDates[0]
                        formatedDate = `${aDate.substring(5, 7)}/${aDate.substring(8, 10)}/${aDate.substring(0, 4)}`
                        activeDateObj.value = formatedDate

                        if(isValidDate(activeDateObj.value)) {
                            activeDateObj.style.backgroundColor = "white"
                        } else {
                            activeDateObj.style.backgroundColor = "red"
                        }
                        checkDate()
                    }
                    // console.log("startDate: ", startDate);
                    // console.log("endDate: ", endDate);
                },
            },
        };        

        function formatToDate(event) {
            let input = event.target.value;
            let lastChar = input.charAt(input.length - 1)
            // Remove all non-digit and non-slash characters
            console.log('before input: ', input)
            input = input.replace(/[^\d/]/g, '');
            console.log('after input: ', input)

            // Split the input into parts
            const parts = input.split('/');
            console.log('parts: ', parts)
            const formattedParts = [];

            parts.forEach((part, index) => {
                if (index === 0 || index === 1) { // Month or Day
                    if(part.length > 2) {
                        part = part.substring(part.length - 2, part.length)
                    }

                    if (part.length === 1 && (lastChar === '/' || parts.length == 3)) {
                        formattedParts.push('0' + part); // Add leading zero if single digit and followed by /
                    } else if (part.length === 1) {
                        formattedParts.push(part); // Already valid
                    } else if (part.length === 2) {
                        formattedParts.push(part); // Already valid
                    }
                } else if (index === 2) { // Year
                    formattedParts.push(part.slice(0, 4)); // Keep up to 4 digits
                }
            });

            // Join the formatted parts with slashes
            event.target.value = formattedParts.join('/');

            if(event.target.value.length === 2 || event.target.value.length === 5) {
                event.target.value = event.target.value + '/'
            } 
        }

    </script>     

    <link
      href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js"
      async
      defer
      onload="initCalendar()"
    ></script>
</body>
</html>







