{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    {% include "heading.html" %}
    <div class="flex_column">
        <div class="delivery_list" id="deliveryList">

        </div>    

        <a href="../deliveryForm">Create a delivery</a>
    </div>
    
    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }

        function dragstartHandler(event) {
            // event.target is the element being dragged
            event.dataTransfer.setData('text/plain', event.target.seq);
        }

        function handleDrop(event) {
            event.preventDefault(); // Prevents default behavior (e.g., opening a dropped file)
            // Handle the drop event here (e.g., get data from the dragged element)
            // event.target is the drop target.
            // console.log('Dropped:', event.dataTransfer.getData('text/plain')); 
            console.log('element being dropped: ', event.dataTransfer.getData('text/plain'))
            console.log('dropped on: ', event.target.seq)
            updateSeq(event.dataTransfer.getData('text/plain'), parseFloat(event.target.seq) + 0.001)
            event.target.seq = parseFloat(event.dataTransfer.getData('text/plain')) + 0.001
            reDisplay()
        }

        function updateSeq(fromSeq, toSeq) {
            const django_server = "https://www.roboosoft.com/"

            const csrfToken = document.querySelector('meta[name="csrf-token"]').content

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json',
                           'X-CSRFToken': csrfToken  
                         },
                body: JSON.stringify({ 'fromSeq': fromSeq.toString(), 
                                       'toSeq': toSeq.toString(),
                                     })
            }
            console.log("Before fetch ")
            fetch(django_server + "account/deliverySeqUpdate/", requestOptions)
            .then((response) => {
                    console.log("Before response.json() ", response)
                    return response.json()
                })
            .then((data) => {
                                //data.id
                                console.log("Before Msg ", data)
                                console.log("Msg: ", data.Msg)
                            })
        }

        function dragOverHandler(event) {
            event.preventDefault();
            event.target.style.backgroundColor = "red"
        }

        function dragLeaveHandler(event) {
            event.preventDefault();
            event.target.style.backgroundColor = "white"
        }

        function reDisplay() {
            deliveryList = document.getElementById("deliveryList")
            const items = Array.from(deliveryList.querySelectorAll("div"))
            items_sorted = items.sort((a, b) => {
                return parseFloat(a.seq) - parseFloat(b.seq)
            })
            items_sorted.forEach(item => deliveryList.appendChild(item));
        }

        function fill() {
            const delivery_json = JSON.parse('{{ delivery_json|escapejs }}')            
            console.log("Last name is: " + delivery_json[0].lastName)

            deliveryList = document.getElementById("deliveryList")

            delivery_sorted = delivery_json.sort((a, b) => {
                return parseFloat(a.seq) - parseFloat(b.seq)
            })

            for(const element of delivery_sorted) {
                deliveryDateDiv = document.createElement("div")
                deliveryDateDiv.className = "deliveryDateDiv"
                deliveryDateDiv.innerText = element.id + " (" + element.seq + ") " + element.deliveryDate

                nameDiv = document.createElement("div")
                nameDiv.className = "nameDiv"
                nameDiv.innerText = element.lastName + ", " + element.firstName

                child = document.createElement("div")
                child.className = "delivery_box"
                child.id = element.id
                child.seq = element.seq
                child.setAttribute("draggable", "true")
                child.addEventListener("dragstart", dragstartHandler)
                child.appendChild(deliveryDateDiv)
                child.appendChild(nameDiv)

                deliveryList.appendChild(child)

                dropTarget = document.createElement("div")
                dropTarget.className = "dropTarget"
                dropTarget.addEventListener('drop', handleDrop);
                dropTarget.addEventListener('dragover', dragOverHandler);
                dropTarget.addEventListener('dragleave', dragLeaveHandler);
                dropTarget.seq = element.seq
                // dropTarget.innerText = "drop target"

                deliveryList.appendChild(dropTarget)
            }
        }

        fill()
    </script>     
</body>
</html>







