{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    {% include "heading.html" %}
    <div id="cal_div" class="calendar">
        <div id="calendar"></div>
    </div>

    <div class="flex_column" onclick="hide_cal(event)">
        <div id="filter">
            <div class="flex_row_middle_up">
                <div class="flex_column">
                    <span class="label_long">Delivery date:</span> 
                    <input class="deliveryDate" id="deliveryDate" name="deliveryDate" type="text" 
                        oninput="set_cal(event)">
                    <input class="deliveryDate" id="deliveryDateTo" name="deliveryDateTo" type="text" 
                        oninput="set_cal(event)">
                    <button onclick="clearDates()">Clear</button>
                </div>
                <div class="flex_column">
                    <span class="label_long">Last/First Name:</span> 
                    <input class="filterNameDiv" id="lastName" name="lastName" type="text" oninput="reDisplay()">
                    <input class="filterNameDiv" id="firstName" name="firstName" type="text" oninput="reDisplay()">
                    <button onclick="clearName()">Clear</button>
                </div>
            </div>
        </div>
        <div class="delivery_list" id="deliveryList">

        </div>    

        <a href="../deliveryForm">Create a delivery</a>
    </div>
    
    <script>
        function clearDates() {
            document.getElementById("deliveryDate").value = ""
            document.getElementById("deliveryDateTo").value = ""
            reDisplay()
        }

        function clearName() {
            document.getElementById("lastName").value = ""
            document.getElementById("firstName").value = ""
            reDisplay()
        }

        function hide_cal(event) {
            if(event.target.id.substring(0, 12) != "deliveryDate") {
                const tooltip = document.getElementById('cal_div');
                tooltip.style.visibility = 'hidden';
            }
        }

        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }

        draggedElement = null
        function dragstartHandler(event) {
            // event.target is the element being dragged
            event.dataTransfer.setData('text/plain', event.target.seq);
            draggedElement = event.target
        }

        var itemsArray = []
        function handleDrop(event) {
            event.preventDefault(); // Prevents default behavior (e.g., opening a dropped file)
            // Handle the drop event here (e.g., get data from the dragged element)
            // event.target is the drop target.
            // console.log('Dropped:', event.dataTransfer.getData('text/plain')); 
            console.log('element being dropped: ', event.dataTransfer.getData('text/plain'))
            console.log('dropped on: ', event.target.seq)
            updateSeq(event.dataTransfer.getData('text/plain'), parseFloat(event.target.seq))
            draggedElement.seq = parseFloat(event.target.seq)

            // deliveryList = document.getElementById("deliveryList")
            // itemsArray = Array.from(deliveryList.querySelectorAll(".delivery_box"))

            // for(const i = 0;i<itemsArray.length;i++) {
            //     if(itemsArray[i].id == draggedElement.id) {
            //         itemsArray.removeAttribute('readonly')
            //         itemsArray[i].seq = parseFloat(event.target.seq)
            //     }
            // }

            reDisplay()
        }

        function updateSeq(fromSeq, toSeq) {
            const django_server = "https://www.roboosoft.com/"

            const csrfToken = document.querySelector('meta[name="csrf-token"]').content

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json',
                           'X-CSRFToken': csrfToken  
                         },
                body: JSON.stringify({ 'fromSeq': fromSeq.toString(), 
                                       'toSeq': toSeq.toString(),
                                     })
            }
            console.log("Before fetch ")
            fetch(django_server + "account/deliverySeqUpdate/", requestOptions)
            .then((response) => {
                    console.log("Before response.json() ", response)
                    return response.json()
                })
            .then((data) => {
                                //data.id
                                console.log("Before Msg ", data)
                                console.log("Msg: ", data.Msg)
                            })
        }

        function dragOverHandler(event) {
            event.preventDefault();
            event.target.style.backgroundColor = "red"
        }

        function dragLeaveHandler(event) {
            event.preventDefault();
            event.target.style.backgroundColor = "white"
        }

        function reDisplay() {
            deliveryDate = document.getElementById("deliveryDate")
            deliveryDateTo = document.getElementById("deliveryDateTo")
            // sessionStorage.setItem(deliveryDate.id, deliveryDate.value)
            // sessionStorage.setItem(deliveryDateTo.id, deliveryDateTo.value)

            lastName = document.getElementById("lastName")
            firstName = document.getElementById("firstName")
            sessionStorage.setItem(lastName.id, lastName.value)
            sessionStorage.setItem(firstName.id, firstName.value)

            // deliveryList = document.getElementById("deliveryList")
            // const items = Array.from(deliveryList.querySelectorAll(".delivery_box"))
            items_sorted = itemsArray.sort((a, b) => {
                return parseFloat(a.seq) - parseFloat(b.seq)
            })
            // items_sorted.forEach(item => deliveryList.appendChild(item));
            // deliveryList.replaceChildren(...items_sorted)
            currentSeq = 0.0 //initially this is set to zero
            temp_deliveryList = []
            itemSummary = {}
            eventCount = 0
            for(const element of items_sorted) {
                // console.log("element is: ", element)
                dropTarget = document.createElement("div")
                dropTarget.className = "dropTarget"
                dropTarget.addEventListener('drop', handleDrop);
                dropTarget.addEventListener('dragover', dragOverHandler);
                dropTarget.addEventListener('dragleave', dragLeaveHandler);
                dropTarget.seq = (currentSeq + parseFloat(element.seq))/2.0
                if(shouldShow(element)) {
                    dropTarget.style.display = "block"
                    element.style.display = "block"
                    //accumulate items
                    const itemList = element.querySelector("#itemList")
                    const itemDivAll = itemList.querySelectorAll(".itemDiv")
                    for(const item of itemDivAll) {
                        // console.log("reDisplay")
                        // console.log("item.itemCode: ", item.itemCode)
                        // console.log("item.box: ", item.box)
                        // console.log("item.bag: ", item.bag)

                        if(!(item.itemCode in itemSummary)) {
                            itemSummary[item.itemCode] = [0, 0]
                        }
                        itemSummary[item.itemCode][0] += item.box
                        itemSummary[item.itemCode][1] += item.bag
                    }
                    eventCount++
                } else {
                    dropTarget.style.display = "none"
                    element.style.display = "none"
                }

                temp_deliveryList.push(dropTarget)
                currentSeq = parseFloat(element.seq)

                temp_deliveryList.push(element)
            }
            dropTarget = document.createElement("div")
            dropTarget.className = "dropTarget"
            dropTarget.addEventListener('drop', handleDrop);
            dropTarget.addEventListener('dragover', dragOverHandler);
            dropTarget.addEventListener('dragleave', dragLeaveHandler);
            dropTarget.seq = currentSeq + 0.01
            temp_deliveryList.push(dropTarget)

            deliveryList.replaceChildren(...temp_deliveryList)

            addSummary(eventCount, itemSummary)
        }

        itemSummary = {}
        itemDict = {}
        //
        //   DeliveryList
        //   -- .delivery_box
        //      -- .basic
        //      -- #itemlist
        //         -- .itemDiv
        //         -- .itemDiv
        //   -- .delivery_box
        //      -- .basic
        //      -- #itemlist
        //         -- .itemDiv
        //         -- .itemDiv
        //
        async function fill() {
            console.log("fromDate: ", "{{ fromDate }}")
            console.log("toDate: ", "{{ toDate }}")

            sessionStorage.setItem("deliveryDate", "{{ fromDate }}")
            sessionStorage.setItem("deliveryDateTo", "{{ toDate }}")            

            itemSummary = {}
            const delivery_json = JSON.parse('{{ delivery_json|escapejs }}')            
            delivery_sorted = delivery_json.sort((a, b) => {
                return parseFloat(a.seq) - parseFloat(b.seq)
            })

            deliveryList = document.getElementById("deliveryList")
            deliveryList.style.display = "none"

            eventCount = 0
            currentSeq = 0.0 //initially this is set to zero
            for(const element of delivery_sorted) {
                dropTarget = document.createElement("div")
                dropTarget.className = "dropTarget"
                dropTarget.addEventListener('drop', handleDrop);
                dropTarget.addEventListener('dragover', dragOverHandler);
                dropTarget.addEventListener('dragleave', dragLeaveHandler);
                dropTarget.seq = (currentSeq + parseFloat(element.seq))/2.0
                deliveryList.appendChild(dropTarget)
                currentSeq = parseFloat(element.seq)

                editDiv = document.createElement("div")
                editDiv.addEventListener("click", gotoUpdate)
                editDiv.className = "editDiv"
                editDiv.innerText = "✏️"
                editDiv.id = element.id

                deliveryDateDiv = document.createElement("div")
                deliveryDateDiv.className = "deliveryDateDiv"
                deliveryDateDiv.id = "deliveryDate"
                // deliveryDateDiv.innerText = element.id + " (" + element.seq + ") " + element.deliveryDate
                deliveryDateDiv.innerText = element.deliveryDate
                deliveryDateDiv.addEventListener("click", setFilterDate)

                nameDiv = document.createElement("div")
                nameDiv.className = "nameDiv"
                // nameDiv.innerText = element.lastName + ", " + element.firstName
                lastNameDiv = document.createElement("div")
                lastNameDiv.className = "deliveryDateDiv"
                lastNameDiv.innerText = element.lastName
                lastNameDiv.addEventListener("click", setFilterLastName)
                comma = document.createElement("div")
                comma.className = "comma"
                comma.innerText = ","

                firstNameDiv = document.createElement("div")
                firstNameDiv.className = "deliveryDateDiv"
                firstNameDiv.innerText = element.firstName
                firstNameDiv.addEventListener("click", setFilterFirstName)
                nameDiv.appendChild(lastNameDiv)
                nameDiv.appendChild(comma)
                nameDiv.appendChild(firstNameDiv)

                addressDiv = document.createElement("div")
                addressDiv.className = "textDiv"
                addressDiv.innerText = element.address

                eligibleDiv = document.createElement("div")
                eligibleDiv.className = "textDiv"
                if(element.eligible == "P")
                    eligibleDiv.innerText = "Eligibility: " + "Pending"
                else if(element.eligible == "Y")
                    eligibleDiv.innerText = "Eligibility: " + "Yes"
                else if(element.eligible == "N")
                    eligibleDiv.innerText = "Eligibility: " + "No"


                child = document.createElement("div")
                child.className = "delivery_box"
                child.id = element.id
                child.seq = element.seq
                child.setAttribute("draggable", "true")
                child.addEventListener("dragstart", dragstartHandler)

                dot = document.createElement("div")
                dot.className = "dot"
                dot.innerText = "✷"

                basic = document.createElement("div")
                basic.className = "basic"
                basic.appendChild(editDiv)
                basic.appendChild(deliveryDateDiv)
                basic.appendChild(dot)
                basic.appendChild(nameDiv)
                basic.appendChild(dot.cloneNode(true))
                basic.appendChild(addressDiv)
                basic.appendChild(dot.cloneNode(true))
                basic.appendChild(eligibleDiv)

                delDiv = document.createElement("div")
                delDiv.addEventListener("click", doDelete)
                delDiv.className = "delDiv"
                delDiv.innerText = "🗑"
                delDiv.id = element.id
                delDiv.mode = "one"
                basic.appendChild(dot.cloneNode(true))
                basic.appendChild(delDiv)


                if(element.parentID != 0) {
                    delAllDiv = document.createElement("div")
                    delAllDiv.addEventListener("click", doDelete)
                    delAllDiv.className = "delAllDiv"
                    delAllDiv.innerText = "🔥"
                    delAllDiv.id = element.id
                    delAllDiv.mode = "all"
                    basic.appendChild(dot.cloneNode(true))
                    basic.appendChild(delAllDiv)
                }

                idsDiv = document.createElement("div")
                idsDiv.className = "textDiv"
                idsDiv.innerText = "id: " + element.id + ", pID: " + element.parentID
                basic.appendChild(dot.cloneNode(true))
                basic.appendChild(idsDiv)

                child.appendChild(basic)

                // console.log("element.itemList: ", element.itemList)

                itemList = document.createElement("div")
                itemList.className = "basic"
                itemList.id = "itemList"
                for(const item of element.itemList) {
                    itemDiv = document.createElement("div")
                    itemDiv.className = "itemDiv"
                    itemDiv.innerText = item.itemCode + " x " + item.box + " box " + item.bag + " bag"
                    itemDiv.itemCode = item.itemCode
                    itemDiv.box = item.box
                    itemDiv.bag = item.bag
                    itemList.appendChild(itemDiv)

                    if(!(item.itemCode in itemSummary)) {
                        itemSummary[item.itemCode] = [0, 0]
                    }
                    itemSummary[item.itemCode][0] += item.box
                    itemSummary[item.itemCode][1] += item.bag

                }
                child.appendChild(itemList)

                deliveryList.appendChild(child)
                eventCount++
            }
            dropTarget = document.createElement("div")
            dropTarget.className = "dropTarget"
            dropTarget.addEventListener('drop', handleDrop);
            dropTarget.addEventListener('dragover', dragOverHandler);
            dropTarget.addEventListener('dragleave', dragLeaveHandler);
            dropTarget.seq = currentSeq + 0.01
            deliveryList.appendChild(dropTarget)

            itemsArray = Array.from(deliveryList.querySelectorAll(".delivery_box"))

            //Add a summary
            itemDict = await getItemCode()
            // console.log("itemDict 2 is: ", itemDict)
            // console.log("itemDict['3036'] 2 is: ", itemDict["3036"])
            // console.log("itemSummary: ", itemSummary)
            addSummary(eventCount, itemSummary)

            needRedisplay = false
            // console.log("sessionStorage.getItem('deliveryDate'):", sessionStorage.getItem('deliveryDate'))
            if(sessionStorage.getItem('deliveryDate')) {
                document.getElementById('deliveryDate').value = sessionStorage.getItem('deliveryDate')
                needRedisplay = true
            }
            if(sessionStorage.getItem('deliveryDateTo')) {
                document.getElementById('deliveryDateTo').value = sessionStorage.getItem('deliveryDateTo')
                needRedisplay = true
            }
            if(sessionStorage.getItem('lastName')) {
                document.getElementById('lastName').value = sessionStorage.getItem('lastName')
                needRedisplay = true
            }            
            if(sessionStorage.getItem('firstName')) {
                document.getElementById('firstName').value = sessionStorage.getItem('firstName')
                needRedisplay = true
            }            
            if(needRedisplay)
                reDisplay()

            deliveryList.style.display = "flex"
        }

        function setFilterLastName(event) {
            document.getElementById("lastName").value = event.target.innerText
            reDisplay()
        }

        function setFilterFirstName(event) {
            document.getElementById("firstName").value = event.target.innerText
            reDisplay()
        }

        function doDelete(event) {
            const django_server = "https://www.roboosoft.com/"

            const csrfToken = document.querySelector('meta[name="csrf-token"]').content

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json',
                           'X-CSRFToken': csrfToken  
                         },
                body: JSON.stringify({ 'deliveryID': event.target.id, 
                                       'mode': event.target.mode,
                                     })
            }
            console.log("Before fetch ")
            fetch(django_server + "account/deliveryDelete/", requestOptions)
            .then((response) => {
                    console.log("Before response.json() ", response)
                    return response.json()
                })
            .then((data) => {
                                //data.id
                                console.log("data: ", data)
                                console.log("data.Msg: ", data.Msg)
                                window.location.reload()
                            })
        }

        function gotoUpdate(event) {
            console.log("event.target.id: ", event.target.id)
            console.log("event.target: ", event.target)
            window.location.href = "../deliveryForm/?id=" + event.target.id
        }

        function setFilterDate(event) {
            document.getElementById("deliveryDate").value = event.target.innerText
            document.getElementById("deliveryDateTo").value = event.target.innerText
            reDisplay()
        }

        function addSummary(eventCount, itemSummary) {
            summaryBox = document.createElement("div")
            summaryBox.className = "summaryBox"

            countInfo = document.createElement("div")
            countInfo.innerText = "Event count: " + eventCount
            summaryBox.appendChild(countInfo)

            summaryRow = document.createElement("div")
            summaryRow.innerText = "Summary:"

            summaryBox.appendChild(summaryRow)
            for(const key in itemSummary) {
                value = itemSummary[key]
                bagAndPrice = itemDict[key]
                while(value[1] >= bagAndPrice[0]) {
                    value[0] += 1
                    value[1] -= bagAndPrice[0]
                }
                summaryRow = document.createElement("div")
                summaryRow.innerText = key + " x " + value[0] + " box " + value[1] + " bag"
                summaryBox.appendChild(summaryRow)
            }

            deliveryList = document.getElementById("deliveryList")
            deliveryList.appendChild(summaryBox)

        }

        function shouldShow(element) {
            const basic = element.querySelector(".basic")
            const deliveryDateDiv = basic.querySelector("#deliveryDate")
            deliveryDate = deliveryDateDiv.innerText.substring(deliveryDateDiv.innerText.length - 10, deliveryDateDiv.innerText.length)
            name = basic.querySelector(".nameDiv").innerText

            // console.log("shouldShow, deliveryDate: ", deliveryDate)
            var result = false

            filterLastName = document.getElementById("lastName").value
            filterFirstName = document.getElementById("firstName").value
            if(filterLastName == "") {
                result = true
            } else {
                if(!name.toLowerCase().includes(filterLastName.toLowerCase())) 
                    result = false
                else
                    result = true
            }

            if(result) {
                if(filterFirstName == "" ) {
                    result = true
                } else {
                    if(!name.toLowerCase().includes(filterFirstName.toLowerCase())) 
                        result = false
                    else
                        result = true
                }
            }

            if(result) {
                filterDeliveryDate = document.getElementById("deliveryDate").value
                filterDeliveryDateTo = document.getElementById("deliveryDateTo").value
                // console.log("filterDeliveryDate: ", filterDeliveryDate)
                if(isValidDate(filterDeliveryDate)) {
                    // console.log("isValidDate true")
                    if(getDate(deliveryDate) >= getDate(filterDeliveryDate)) {
                        // console.log("date are the same")
                        result = true
                    } else
                        result = false
                } else 
                    result = true
            }

            if(result && isValidDate(filterDeliveryDateTo)) {
                // console.log("isValidDate true")
                if(getDate(deliveryDate) <= getDate(filterDeliveryDateTo)) {
                    // console.log("date are the same")
                    result = true
                } else 
                    result = false
            }
            // console.log("result is: ", result)
            return result
        }

        async function getItemCode() {
            itemDict = {}
            const django_server = "https://www.roboosoft.com/"
            await fetch(django_server + "account/itemList/")
            .then((response) => {
                // console.log("response is: ", response)
                return response.json()
            })
            .then((data) => {
                // console.log("data is: ", data)
                data.forEach(element => {
                    itemDict[element.itemCode] = [element.bags, element.bagPrice]
                })
            })

            // console.log("itemDict is: ", itemDict)
            return itemDict
        }

        fill()

        document.getElementById('deliveryDate').addEventListener('focus', show_cal);
        document.getElementById('deliveryDateTo').addEventListener('focus', show_cal);

        function show_cal(event) {
            set_cal(event)

            var inputField
            if(event.target.id == "deliveryDateTo") {
                inputField = document.getElementById("deliveryDate")
            } else {
                inputField = event.target; // Get the clicked input field 
            }

            activeDateObj = event.target

            // Get the position and size of the input field
            const rect = inputField.getBoundingClientRect();
            
            // Find the tooltip div
            const tooltip = document.getElementById('cal_div');
            
            // Position the tooltip to the right of the input field
            tooltip.style.left = `${rect.right + 10}px`; // Add 5px gap
            tooltip.style.top = `${rect.top}px`;
            tooltip.style.display = 'block'; // Make the tooltip visible
            tooltip.style.visibility = 'visible';
        }


        function set_cal(event) {
            calendar.selectedDates = [];
            calendar.update()

            if(event.inputType != 'deleteContentBackward') {
                formatToDate(event)
                // deliveryDate = document.getElementById('deliveryDate').value
                theDate = event.target.value
                // console.log("theDate is ", theDate)
                regex = /\d\d\/\d\d\/\d{4}/
                if(regex.test(theDate)) {
                    console.log("regex test ok")

                    mm = theDate.substring(0,2)
                    dd = theDate.substring(3,5)
                    yyyy = theDate.substring(6,10)
                    inputDate = yyyy + "-" + mm + "-" + dd
                    console.log('inputDate is: ', inputDate)
                    // inputDate = new Date(yyyy, mm-1, dd)
                    // calendar.settings.date = inputDate

                    calendar.selectedDates = [inputDate];
                    // calendar.date.today = new Date(yyyy,mm-1,dd);
                    calendar.selectedMonth = mm-1;
                    calendar.selectedYear = yyyy;
                    calendar.update()
            
                }
            }

            if(isValidDate(event.target.value)) {
                event.target.style.backgroundColor = "white"
            } else {
                event.target.style.backgroundColor = "red"
            }

            checkDate()
        }

        function checkDate() {
            if(isValidDate(document.getElementById("deliveryDate").value) ||
                document.getElementById("deliveryDate").value == "") {
                reDisplay()
                // console.log("reDisplay is called")
            }
        }

        function getDate(dateString) {
            const date = new Date(Date.UTC(dateString.substring(6,10), dateString.substring(0,2)-1, dateString.substring(3,5)));
            return date
        }

        function isValidDate(dateString) {
            const date = new Date(Date.UTC(dateString.substring(6,10), dateString.substring(0,2)-1, dateString.substring(3,5)));
            // console.log("date is ", date)
            result = true

            // console.log("dateString.substring(0,2)", dateString.substring(0,2))
            // console.log("date.getUTCMonth+1", date.getUTCMonth()+1)
            // console.log("dateString.substring(3,5)", dateString.substring(3,5))
            // console.log("date.getUTCDate", date.getUTCDate())
            // console.log("dateString.substring(6,10)", dateString.substring(6,10))
            // console.log("date.getUTCFullYear", date.getUTCFullYear())

            if(!isNaN(date.getTime())) {
                if(dateString.substring(0,2) == date.getUTCMonth()+1 && 
                   dateString.substring(3,5) == date.getUTCDate() &&
                   dateString.substring(6,10) == date.getUTCFullYear()) {
                    result = true
                } else {
                    result = false
                }
            } else {
                result = false
            }

            return result;
        }

        function initCalendar() {
            calendar = new VanillaCalendar("#calendar", options);
            calendar.init();
            calendar.jumpToSelectedDate = true;
            calendar.date.min = '1910-01-01';
            calendar.settings.range.min = '1910-01-01';
            // calendar.selectedDates = ['1999-01-01'];
            // calendar.date.today = new Date(1998,0,1);
            // calendar.selectedMonth = 0;
            // calendar.selectedYear = 1998;
            calendar.update();
            // console.log(calendar)
        }

        const options = {
            type: "multiple", // Other values: "default", "multiple",
            months: 1,
            jumpMonths: 1,
            dateMin: '1910-01-01',        
            settings: {
            selection: {
                day: "multiple-ranged",  // Other values: "single", "multiple-ranged"
            },
            iso8601: false, //Make Sunday as first day of the week
            visibility: {        
                todayButton: true, // Adds a "Today" button      
            },
            range: {        
                min: '1910-01-01', // Minimum selectable date (format: YYYY-MM-DD)      
            },
            },
            actions: {
                clickDay(event, self) {
                    // console.log(self.selectedDates);
                    selectedDate = self.selectedDates[0];
                    endDate = self.selectedDates[self.selectedDates.length - 1]
                    // document.getElementById("deliveryDate").value = self.selectedDates[0]
                    if(activeDateObj) {
                        if(activeDateObj.id.substring(0, 12) == "deliveryDate") {
                            aDate = self.selectedDates[0]
                            formatedDate = `${aDate.substring(5, 7)}/${aDate.substring(8, 10)}/${aDate.substring(0, 4)}`
                            deliveryDate = document.getElementById("deliveryDate")
                            deliveryDate.value = formatedDate
                            // sessionStorage.setItem(deliveryDate.id, deliveryDate.value)
                            aDate = endDate
                            formatedDate = `${aDate.substring(5, 7)}/${aDate.substring(8, 10)}/${aDate.substring(0, 4)}`
                            deliveryDateTo = document.getElementById("deliveryDateTo")
                            deliveryDateTo.value = formatedDate
                            // sessionStorage.setItem(deliveryDateTo.id, deliveryDateTo.value)
                            console.log("sessionStorage.getItem('deliveryDate'): ", sessionStorage.getItem('deliveryDate'))
                            console.log("sessionStorage.getItem('deliveryDateTo'): ", sessionStorage.getItem('deliveryDateTo'))
                            console.log("deliveryDate.value:", deliveryDate.value)
                            console.log("deliveryDateTo.value:", deliveryDateTo.value)

                            if(getYMD(deliveryDate.value) < getYMD(sessionStorage.getItem('deliveryDate')) || 
                               getYMD(deliveryDateTo.value) > getYMD(sessionStorage.getItem('deliveryDateTo'))) {
                                // reDirectPage(deliveryDate.value, deliveryDateTo.value)
                                console.log("redirected")
                            }
                        } else {
                            aDate = self.selectedDates[0]
                            formatedDate = `${aDate.substring(5, 7)}/${aDate.substring(8, 10)}/${aDate.substring(0, 4)}`
                            activeDateObj.value = formatedDate
                        }

                        if(isValidDate(activeDateObj.value)) {
                            activeDateObj.style.backgroundColor = "white"
                        } else {
                            activeDateObj.style.backgroundColor = "red"
                        }
                        checkDate()
                    }
                    // console.log("startDate: ", startDate);
                    // console.log("endDate: ", endDate);
                },
            },
        };        

        function reDirectPage(from, to) {
            sessionStorage.setItem("deliveryDate", from)
            sessionStorage.setItem("deliveryDateTo", to)
            window.location.href = "https://www.roboosoft.com/account/deliveryList/?fromDate=" + from + "&toDate=" + to
        }

        function formatToDate(event) {
            let input = event.target.value;
            let lastChar = input.charAt(input.length - 1)
            // Remove all non-digit and non-slash characters
            console.log('before input: ', input)
            input = input.replace(/[^\d/]/g, '');
            console.log('after input: ', input)

            // Split the input into parts
            const parts = input.split('/');
            console.log('parts: ', parts)
            const formattedParts = [];

            parts.forEach((part, index) => {
                if (index === 0 || index === 1) { // Month or Day
                    if(part.length > 2) {
                        part = part.substring(part.length - 2, part.length)
                    }

                    if (part.length === 1 && (lastChar === '/' || parts.length == 3)) {
                        formattedParts.push('0' + part); // Add leading zero if single digit and followed by /
                    } else if (part.length === 1) {
                        formattedParts.push(part); // Already valid
                    } else if (part.length === 2) {
                        formattedParts.push(part); // Already valid
                    }
                } else if (index === 2) { // Year
                    formattedParts.push(part.slice(0, 4)); // Keep up to 4 digits
                }
            });

            // Join the formatted parts with slashes
            event.target.value = formattedParts.join('/');

            if(event.target.value.length === 2 || event.target.value.length === 5) {
                event.target.value = event.target.value + '/'
            } 
        }

        function getYMD(mdyyyy) {
            yyyy = mdyyyy.substring(6,10)
            mm = mdyyyy.substring(3,5)
            dd = mdyyyy.substring(0,2)

            return yyyy + mm + dd
        }

    </script>     

    <link
      href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js"
      async
      defer
      onload="initCalendar()"
    ></script>
</body>
</html>







