{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heading</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="headBar">
        <img src="https://www.roboosoft.com/logo512.png" width="32" height="32">
        <div class="companyNameContainer">
            <h1 class="companyName">Roboosoft</h1>
        </div>
        <!-- <div class="box"> </div> -->

        <!-- <div class="contentVerticallyCenter">
            <a href="../ride/">
                <span class="login">Ride</span>
            </a>
        </div> -->

        <div class="fillLeft"></div>
        
        {% if request.session.userName %}
        <div class="userName">
            <a href="../userinfo">
                {% if nickname %}
                    <span>hi, {{ nickname }} </span>
                {% else %}
                    <span>hi, {{ request.session.userName }} </span>
                {% endif %}
            </a>
        </div>

        <div class="fillRight"></div>

        <div class="cornerButton">
            <a href="../postform/">
                <span>View post</span>
            </a>
        </div>
        <div class="cornerButton">
            <a href="../logout/">
                <span>Logout</span>
            </a>
        </div>
        {% else %}
            <div class="fillRight"></div>
            <div class="cornerButton">
                <a href="../postform/">
                    <span>View post</span>
                </a>
            </div>

            {% if page == "registerForm" %}
            <div class="cornerButton">
                <a href="../login/">
                    <span>Goto Login page</span>
                </a>
            </div>
            {% else %}
            <div class="cornerButton">
                <a href="../registerForm/">
                    <span>Goto Register page</span>
                </a>
            </div>
            {% endif %}
        {% endif %}


    </div>
  
</body>
</html>







