{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="headBar">
        <div class="contentVerticallyCenter">
            <h1 class="companyName">Roboosoft</h1>
        </div>
        <div class="box"> </div>

        <!-- <div class="contentVerticallyCenter">
            <a href="../ride/">
                <span class="login">Ride</span>
            </a>
        </div> -->
        
        {% if request.session.userName %}
        <div class="contentVerticallyCenter">
            <h2>hi, {{ request.session.userName }} </h2>
        </div>
        <div class="contentVerticallyCenter">
            <a href="../logout/">
                <span class="login">Logout</span>
            </a>
        </div>
        {% else %}
            {% if page == "registerForm" %}
            <div class="contentVerticallyCenter">
                <a href="../login/">
                    <span class="login">Goto Login page</span>
                </a>
            </div>
            {% else %}
            <div class="contentVerticallyCenter">
                <a href="../registerForm/">
                    <span class="login">Goto Register page</span>
                </a>
            </div>
            {% endif %}
        {% endif %}


    </div>
  
</body>
</html>







