{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Item Setup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include "heading.html" %}

    <div class="flex_row_middle_up">
        <div class="contentVerticallyCenter">
            <div class="flex_column">
                <div><h3>Item Setup</h3></div>
                <div><input value="Item Code" readonly><input value="Item Desc" readonly>
                        <input value="Unit per box" readonly><input value="Unit Price" readonly>
                <div id="itemDetail" style="position: relative; z-index: 0;"></div>
                <button onclick="addRow()">Add a row</button>
                <div class="err_msg">
                    <span id="message">{{ errMsg }}</span>
                </div>
            </div>
        </div>
        <div class="separator">
        </div>

    </div>   

    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }

        const django_server = "https://www.roboosoft.com/"

        function fillItem() {
            fetch(django_server + "account/itemList/")
                .then(response => response.json())
                .then(data => {

                childArray = []
                for (const element of data) {
                    child = document.createElement("div")
                    child.style.position = "relative"
                    child.id = element.id

                    itemCode = makeInputElement("itemCode", element.itemCode)
                    itemDesc = makeInputElement("itemDesc", element.itemDesc)
                    bags = makeInputElement("bags", element.bags)
                    bagPrice = makeInputElement("bagPrice", element.bagPrice)

                    child.appendChild(itemCode)
                    child.appendChild(itemDesc)
                    child.appendChild(bags)
                    child.appendChild(bagPrice)

                    childArray.push(child)
                }

                div = document.getElementById("itemDetail")
                div.replaceChildren(...childArray)

            })

        }

        newRowID = 1
        function addRow() {
            child = document.createElement("div")
            child.id = "new" + newRowID
            child.style.position = "relative"
            child.style.zIndex = 1
            newRowID += 1

            itemCode = makeInputElement("itemCode", "")
            itemDesc = makeInputElement("itemDesc", "")
            bags = makeInputElement("bags", "")
            bagPrice = makeInputElement("bagPrice", "")

            child.appendChild(itemCode)
            child.appendChild(itemDesc)
            child.appendChild(bags)
            child.appendChild(bagPrice)

            div = document.getElementById("itemDetail")
            div.appendChild(child)
        }

        function makeInputElement(elementID, value) {
            element = document.createElement("input")
            element.id = elementID
            element.addEventListener("input", addOrUpdate)
            element.addEventListener("focus", getFocus)
            element.addEventListener("blur", leaveInput)
            element.style.position = "relative"    
            element.value = value 
            return element       
        }

        function addOrUpdate(event) {
            console.log("parent id is: ", event.target.parentElement.id)
            event.target.style.zIndex = 2
            event.target.parentElement.style.zIndex = 2
            console.log("zIndex is: ", event.target.style.zIndex)
            // check if all the fields are valid
            parent = event.target.parentElement

            itemCode = parent.querySelector("#itemCode")
            itemDesc = parent.querySelector("#itemDesc")
            bags = parent.querySelector("#bags")
            bagPrice = parent.querySelector("#bagPrice")

            if(checkStr(itemCode.value) && isUnique(itemCode.value)) {
                itemCode.style.backgroundColor = "white"
                if(checkStr(itemDesc.value)) {
                    itemDesc.style.backgroundColor = "white"
                    if(parseInt(bags.value)) {
                        bags.style.backgroundColor = "white"
                        bags.value = parseInt(bags.value).toString()
                        if(parseFloat(bagPrice.value)) {
                            bagPrice.style.backgroundColor = "white"
                            //all fields are valid
                            console.log("all fields are ok")
                            addUpdateRecord(parent, itemCode.value, itemDesc.value, 
                            parseInt(bags.value).toString(), parseFloat(bagPrice.value).toString())
                        } else {
                            if(event.target === bagPrice)
                                bagPrice.style.backgroundColor = "red"
                        }
                    } else {
                        if(event.target === bags)
                            bags.style.backgroundColor = "red"
                    }
                } else {
                    if(event.target === itemDesc)
                        itemDesc.style.backgroundColor = "red"
                }
            } else {
                if(event.target === itemCode)
                    itemCode.style.backgroundColor = "red"
            }

        }

        function checkStr(aString) {
            trimmed = aString.trim()
            return trimmed.length > 0
        }

        function getFocus(event) {
            event.target.style.zIndex = 2
            event.target.parentElement.style.zIndex = 2
        }

        function leaveInput(event) {
            event.target.style.zIndex = 1
            event.target.parentElement.style.zIndex = 1
        }

        function addUpdateRecord(parent, itemCode, itemDesc, bags, bagPrice) {
            //suppose all inputs are string
            const django_server = "https://www.roboosoft.com/"

            const csrfToken = document.querySelector('meta[name="csrf-token"]').content

            id = parent.id
            if(parent.id.length > 3) {
                if(parent.id.substring(0,3) == "new") {
                    id = "new"
                }
            }

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json',
                           'X-CSRFToken': csrfToken  
                         },
                body: JSON.stringify({ 'id': id,
                                       'itemCode': itemCode, 
                                       'itemDesc': itemDesc,
                                       'bags': bags,
                                       'bagPrice': bagPrice
                                     })
            }
            console.log("Before fetch ")
            fetch(django_server + "account/itemAddUpdate/", requestOptions)
            .then((response) => {
                    console.log("Before response.json() ", response)
                    return response.json()
                })
            .then((data) => {
                                //data.id
                                console.log("Before Msg, data: ", data)
                                console.log("Msg: ", data.Msg)
                                msgDiv = document.getElementById("message")
                                if(data.Msg == "Success") {
                                    parent.id = data.id
                                    console.log("record add/update success, id is: ", data.id)
                                    msgDiv.innerText = ""
                                } else {
                                    msgDiv.innerText = data.Msg
                                }
                            })            
        }

        function isUnique(code) {
            itemDetailDiv = document.getElementById("itemDetail")
            list = itemDetailDiv.querySelectorAll("*")
            result = true
            list.forEach(element => {
                if(element.querySelector("#itemCode").value == code) {
                    result = false
                    msgDiv = document.getElementById("message")
                    msgDiv.innerText = "Item code must be unique"
                }
            });
            return result
        }

        fillItem()
    </script> 
</body>
</html>


