{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Item Setup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include "heading.html" %}

    <div class="flex_row_middle_up">
        <div class="contentVerticallyCenter">
            <div class="flex_column">
                <div><h3>Item Setup</h3></div>
                <div><input value="Item Code" readonly><input value="Item Desc" readonly>
                        <input value="Unit per box" readonly><input value="Unit Price" readonly>
                <div id="itemDetail" style="position: relative; z-index: 0;"></div>
                <button onclick="addRow()">Add a row</button>
                <div class="err_msg">
                    <span id="message">{{ errMsg }}</span>
                </div>
            </div>
        </div>
        <div class="separator">
        </div>

    </div>   

    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }

        const django_server = "https://www.roboosoft.com/"

        function fillItem() {
            fetch(django_server + "account/itemList/")
                .then(response => response.json())
                .then(data => {

                // try {
                //     prom = await fetch(django_server + "itemList/");
                // } catch(err) {
                //     console.log("fetch error: ", err.message)
                // }

                // try {
                //     jsonObj = await prom.json();
                // } catch(err) {
                //     console.log("json error: ", err.message)
                // }

                childArray = []
                for (const element of data) {
                    child = document.createElement("div")
                    child.id = element.id

                    itemCode = document.createElement("input")
                    itemCode.value = element.itemCode

                    itemDesc = document.createElement("input")
                    itemDesc.value = element.itemDesc

                    bags = document.createElement("input")
                    bags.value = element.bags

                    bagPrice = document.createElement("input")
                    bagPrice.value = element.bagPrice

                    child.appendChild(itemCode)
                    child.appendChild(itemDesc)
                    child.appendChild(bags)
                    child.appendChild(bagPrice)

                    childArray.push(child)
                }

                div = document.getElementById("itemDetail")
                div.replaceChildren(...childArray)

            })

        }

        newRowID = 1
        function addRow() {
            child = document.createElement("div")
            child.id = "new" + newRowID
            child.style.position = "relative"
            child.style.zIndex = 1
            newRowID += 1

            itemCode = document.createElement("input")
            itemCode.id = "itemCode"
            itemCode.addEventListener("input", addOrUpdate)
            itemCode.addEventListener("focus", getFocus)
            itemCode.addEventListener("blur", leaveInput)
            itemCode.style.position = "relative"

            itemDesc = document.createElement("input")
            itemDesc.id = "itemDesc"
            itemDesc.addEventListener("input", addOrUpdate)
            itemDesc.addEventListener("focus", getFocus)
            itemDesc.addEventListener("blur", leaveInput)
            itemDesc.style.position = "relative"

            bags = document.createElement("input")
            bags.id = "bags"
            bags.addEventListener("input", addOrUpdate)
            bags.addEventListener("focus", getFocus)
            bags.addEventListener("blur", leaveInput)
            bags.style.position = "relative"

            bagPrice = document.createElement("input")
            bagPrice.id = "bagPrice"
            bagPrice.addEventListener("input", addOrUpdate)
            bagPrice.addEventListener("focus", getFocus)
            bagPrice.addEventListener("blur", leaveInput)
            bagPrice.style.position = "relative"

            child.appendChild(itemCode)
            child.appendChild(itemDesc)
            child.appendChild(bags)
            child.appendChild(bagPrice)

            div = document.getElementById("itemDetail")
            div.appendChild(child)

        }

        function addOrUpdate(event) {
            console.log("parent id is: ", event.target.parentElement.id)
            event.target.style.zIndex = 2
            event.target.parentElement.style.zIndex = 2
            console.log("zIndex is: ", event.target.style.zIndex)
            // check if all the fields are valid
            parent = event.target.parentElement

            itemCode = parent.querySelector("#itemCode")
            itemDesc = parent.querySelector("#itemDesc")
            bags = parent.querySelector("#bags")
            bagPrice = parent.querySelector("#bagPrice")

            if(checkStr(itemCode.value)) {
                itemCode.style.backgroundColor = "white"
                if(checkStr(itemDesc.value)) {
                    itemDesc.style.backgroundColor = "white"
                    if(parseInt(bags.value)) {
                        bags.style.backgroundColor = "white"
                        if(parseFloat(bagPrice.value)) {
                            bagPrice.style.backgroundColor = "white"
                            //all fields are valid
                            console.log("all fields are ok")
                            if(event.target.parentElement.id.length > 3) {
                                if(event.target.parentElement.id.substring(0,3) == "new") {

                                }
                            }
                        } else {
                            if(event.target === bagPrice)
                                bagPrice.style.backgroundColor = "red"
                        }
                    } else {
                        if(event.target === bags)
                            bags.style.backgroundColor = "red"
                    }
                } else {
                    if(event.target === itemDesc)
                        itemDesc.style.backgroundColor = "red"
                }
            } else {
                if(event.target === itemCode)
                    itemCode.style.backgroundColor = "red"
            }

        }

        function checkStr(aString) {
            trimmed = aString.trim()
            return trimmed.length > 0
        }

        function getFocus(event) {
            event.target.style.zIndex = 2
            event.target.parentElement.style.zIndex = 2
        }

        function leaveInput(event) {
            event.target.style.zIndex = 1
            event.target.parentElement.style.zIndex = 1
        }

        fillItem()
    </script> 
</body>
</html>


