{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include "heading.html" %}

    <div class="flex_row_middle_up">
        <div class="contentVerticallyCenter">
            <div class="flex_column">
                <form class="login" method="post" action="../doLogin/" >{% csrf_token %}
                    <div class="contentVerticallyCenter">
                        <span class="label">Email:</span> <input class="textField" name="username" type="text" value="{{ emailInputted }}" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label">Password:</span> <input class="textField" name="password" type="password" oninput="clearMessage()"><br>
                    </div>
                    <br>
                    <input class="button" type="submit" value="Login">
                    <br>
                    <button class="button_recover" type="submit" formaction="../recover/">Send me a recovery link</button>
                </form>

                <div class="err_msg">
                    <span id="message">{{ errMsg }}</span>
                </div>
            </div>
        </div>
        <div class="separator">
        </div>

        <div class="image">
            <img src="{% static 'login_background.jpg' %}" width="600" height="600">
        </div>
    </div>   

    <a href="../postform">View post</a>

    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }
    </script> 
</body>
</html>







