{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done</title>
    <link rel="stylesheet" href="{% static 'poststyle.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "heading.html" %}
    <div class="post_main">

        {% if request.session.userName %}
            <h3>Create a Post</h3>

            <form class="login" method="post" action="../post/" >{% csrf_token %}
                <div class="post_row">
                    <div class="label">Author</div>
                    <div class="textField_display">
                        {% if nickname %}
                            {{ nickname }}
                        {% else %}
                            {{ request.session.userName }}
                        {% endif %}
                    </div>        
                </div>

                <div class="post_row">
                    <div class="label">Title</div>
                    <input class="textField" name="title" type="text"><br>
                </div>
                <div class="post_row">
                    <div class="label">Content</div>
                    <div class="textArea">
                        <textarea name="content" class="area"></textarea><br>
                    </div>
                </div>
    
                <input class="button" type="submit" value="Post">   
            </form>
            <span>{{ postMsg }}</span>
        {% else %}
            <h3>To create a Post, please login <a href="../login">here</a></h3>

        {% endif %}
        <br>
        <div id="codes" class="codes">
        
        </div>
        <div id="pages" class="pages">
            Debug {{ pageNum }}, {{ postPerPage }} {{ userDict }}
        </div>
    </div>   

    <script type="text/javascript">
        const django_server = "https://www.roboosoft.com/"

        const userDict = JSON.parse('{{ userDict|escapejs }}')

        console.log("userDict: ", userDict)

        async function reloadPost() {

            prom = await fetch(django_server + "post/");
            jsonObj = await prom.json();
            console.log("no. of element in array: ", jsonObj.length)

            indexCount = Math.floor(jsonObj.length / parseInt('{{ postPerPage }}'))
            remainder = jsonObj.length % parseInt('{{ postPerPage }}')
            if(remainder > 0)
                indexCount += 1

            div = document.getElementById("codes")

            childArray = []

            // start = ('{{ pageNum }}' - 1) * '{{ postPerPage }}'
            // end = start + parseInt('{{ postPerPage }}')
            // if(end > jsonObj.length) {
            //     end = jsonObj.length
            // }
            if('{{ pageNum }}' > indexCount) {
                start = 0
                end = parseInt('{{ postPerPage }}')
            } else {
                end = jsonObj.length - ('{{ pageNum }}' - 1) * '{{ postPerPage }}'
                start = end - parseInt('{{ postPerPage }}')
                if(start < 0) {
                    start = 0
                }
            }

            jsonObjSelected = jsonObj.slice(start, end)

            jsonObjSelected.forEach(element => {

                child = document.createElement("div")
                child.className = "code_box"
                child.id = element.id

                author = document.createElement("div")
                author.className = "author"

                authorNick = userDict[element.author]
                if(authorNick) {
                    author.innerText = authorNick
                } else {
                    author.innerText = element.author
                }

                date = document.createElement("div")
                date.className = "date"
                post_date = new Date(element.date)
                date.innerText = post_date.toLocaleDateString() + " " +
                                 post_date.toLocaleTimeString() 

                title = document.createElement("div")
                title.className = "title_lax"
                title.innerText = element.title

                place_filler = document.createElement("div")
                place_filler.className = "place_filler"

                auth_date = document.createElement("div")
                auth_date.className = "auth_date"
                auth_date.appendChild(author)
                auth_date.appendChild(title)
                auth_date.appendChild(place_filler)
                auth_date.appendChild(date)

                child.appendChild(auth_date)

                content = document.createElement("div")
                content.className = "content_lax"
                content.innerText = element.content

                child.appendChild(content)

                childArray.unshift(child)
            });

            div.replaceChildren(...childArray)


            div = document.getElementById("pages")
            pagesDiv = []

            for(i=1;i<indexCount+1;i++) {
                aDiv = document.createElement("div")
                aDiv.className = "pageIndex"
                if(i == '{{ pageNum }}') {
                    aDiv.innerText = i
                } else {
                    aHref = document.createElement("a")
                    aHref.href = "../postform/?page=" + i
                    aHref.textContent = i
                    aDiv.appendChild(aHref)
                }
                pagesDiv.push(aDiv)
            }
            div.replaceChildren(...pagesDiv)
        }

        reloadPost()
    </script>

</body>
</html>



