{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "heading.html" %}
    <div class="contentVerticallyCenter">
        <div class="container">
            <form class="registerForm" method="post" action="../register/" >{% csrf_token %}
                <span class="label">User name:</span> <input class="textField" name="username" type="text"><br>
                <span class="label">Password:</span> <input class="textField" name="password" type="password"><br>
                <br>
                <input class="button" type="submit" value="Register">
                {% if errMsg != "" %}
                    <h3>Message: {{ errMsg }}</h3>                
                {% endif %}
            </form>
        </div>    
    </div>    
</body>
</html>







