{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "heading.html" %}
    <div class="contentVerticallyCenter">
        <div class="container">
            <form class="registerForm" method="post" action="../register/" >{% csrf_token %}
                <span class="label">Email:</span> <input class="textField" name="username" type="text" value="{{ emailInputted }}" oninput="clearMessage()"><br>
                <span class="label">{{ new }}Password:</span> <input class="textField" name="password" type="password" oninput="clearMessage()"><br>
                <br>
                <input type="hidden" name="recoveryCode" value="{{ recoveryCode }}">
                <input class="button" type="submit" value="{{ buttonName }}">
            </form>

        </div>    
        <div class="err_msg">
            {% if errMsg %}
                <h3 id="message">Message: {{ errMsg }}</h3>                
            {% endif %}
        </div>
    </div>    

    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }
    </script>     
</body>
</html>







