{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user info</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include "heading.html" %}

    <div class="flex_row_middle_up">
        <div class="contentVerticallyCenter">
            <div class="flex_column">
                <form class="login" method="post" action="../userinfoUpdate/" >{% csrf_token %}
                    <div class="contentVerticallyCenter">
                        <span class="label">Email:</span> <input class="textField_display" name="username" type="text" value="{{ emailInputted }}" oninput="clearMessage()"><br>
                    </div>
                    <div class="contentVerticallyCenter">
                        <span class="label">Nickname:</span> <input class="textField" name="nickname" type="text" value="{{ nickname }}" oninput="clearMessage()"><br>
                    </div>
                    <br>
                    <input class="button" type="submit" value="Update">
                    <br>
                </form>

                <div class="err_msg">
                    <span id="message">{{ errMsg }}</span>
                </div>
            </div>
        </div>
        <div class="separator">
        </div>

    </div>   

    <script>
        function clearMessage() {
            document.getElementById('message').innerText = ''; // Clear the message
        }
    </script> 
</body>
</html>







