body {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    margin: 0px;
    /* flex: 1; */
}

.headBar {
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* display: flex; */
    background-image: linear-gradient(to right, blue, rgb(158, 158, 246));
    padding: 5px;
    margin: 0px;
    /* width: 100vw; */
    /* max-width: 100%; */
    /* border-width: 10px;
    border-color: chocolate; */
    /* border: 3px solid blue; */
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.contentVerticallyCenter {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* background-color: rgb(201, 97, 97); */
    /* flex-grow: 1; */
    /* border: 3px solid blue; */
}

.flex_row_middle_up {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.cornerButton {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 3px solid white;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
}

.cornerButton > a > span {
    background-color: white;
}

.companyNameContainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    
}

.companyName {
    margin: 3px;
    /* flex: 1; */
    color: white;
}

.box {
    /* height: 200px; */
    background-color: blue;
    flex: 1;
}

/* .column {
    display: flex;
    justify-content: center; 
    height: 100vh;
    background-color: cadetblue;
    flex: 1;
} */

.container {
    display: flex;
    /* display: block; */
    text-align: center;
    justify-content: center;
    background-color: white;
    flex: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    /* border: 3px solid black; */
}

.colContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: chartreuse;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding: 3px;
    border: 3px solid rgb(197, 197, 197);
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    /* min-width: 400px; */
}

.separator {
    width: 20px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding: 3px;
    border: 3px solid rgb(122, 233, 133);
    background-color:rgb(122, 233, 133);
    border-radius: 5px;
}

.label {
    display: flex;
    width: 70px;
    /* background-color:gray; */
    text-align: left;
    font-size: 12px;
}

.textField {
    display: flex;
    margin: 5px;
    background-color: white;
    font-size: 12px;
    width: 250px;
}

.textField_display {
    display: flex;
    margin: 5px;
    font-size: 12px;
    width: 250px;
    background-color: rgb(197, 197, 197);
}

.button {
    font-size: 12px;
    height: 20px;
    max-width: 60%;
}

.button_recover {
    font-size: 10px;
    height: 20px;
    padding: 3px;
    max-width: 60%;
}

.userName {
    display: flex;
    color: yellow;
    margin-right: 5px;
    justify-content: center;
    flex-grow: 1;
}

.err_msg {
    color: red;
    height: 16px;
    margin-left: 3px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}